# Entornos virtuales
venv/
env/
.venv/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Archivos de salida del script
*.xlsx
*.xls

# Sistema operativo
.DS_Store
Thumbs.db
